@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Palmers Cricket App</h1>
    <p class="lead">A Cricket Club based in the heart of Hove near to the County Ground</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Community</h2>
        <p>Formed in 1983 Palmers CC has come a long way since a few friends disillusioned with the local Cricket scene sat 
        chatting over a beer about starting a new Cricket club. From this small beginning a sociable friendly club evolved 
        where all members are encouraged to express themselves in an open and positive environment.</p>
        <p>Palmers CC are members of the Stoner Mid-Sussex Cricket League and SCB South Area Young Cricketers League we field four senior teams and three youth teams:</p>
    </div>
    <div class="col-md-4">
        <h2>Results & Fixtures</h2>
        <p>View upcoming fixtures and previous results for all the teams that make up Palmers Cricket Club</p>
        <ul>
             <li>1st XI</li>
             <li>2nd XI</li>
             <li>Sunday XI</li>
             <li>MidWeek XI</li>
             <li>Under 15's</li>
             <li>Under 13's</li>
             <li>Under 10's</li>    
             <li>Touring XI</li>
         </ul>
    </div>
    <div class="col-md-4">
        <h2>Home Ground</h2>
        <p>Situated in the heart of Hove</p>       
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tour</h2>
        <p>
            The 2015 Palmers tour to Devon and Cornwall will take place on Saturday August 1 through to Friday August 7th. Now is the time to start thinking of runs, wickets, sun, sea and pasties on tour.
            Those in the know don't need to be told of the magical Palmers tour vibe. For those who have never experienced a Palmers tour, don't miss out this time.
            We have some great fixtures from Sunday to Thursday, including a new game against Bude.   We have in mind a really high quality house close to most of the games and near a decent local pub. See the link below.
        </p>
        <p>
            However, we must have a certain amount of people  commit to the tour in advance so we can secure the accommodation and 
            make it all happen as we have to pay a deposit. So we need to ask for provisional numbers and request a 50 pounds deposit. A balance of 130 pounds would then be payable next summer (generous discounts for partners, families, juniors and part week tourists)</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Club News</p>
    </div>
    <div class="col-md-4">
        <h2>Become a member</h2>
        <p></p>
    </div>

</div>*@