<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ASPNET_DETAILED_ERRORS" value="true" />
    <add key="bootstrapper-version" value="1.0.0-beta4-11131" />
    <add key="kre-version" value="1.0.0-beta4-11128" />
    <add key="kre-clr" value="CLR" />
    <add key="kre-app-base" value="..\" />
  </appSettings>
</configuration>